.contain {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 0px;
    height: 100vh;
    width: 100vw;
}

.join {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features {
    background-color: #2E0242;
    height: 100%;
    width: 100%;
}

.log {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#logo-t {
    width: 400px;
}

#log-act {
    color: #75428D;
    font-size: 2.25rem;
    font-weight: 700;
    margin-left: 0.75em;
}

#log-inact {
    color: #7B797C;
    font-size:1.75rem;
    font-weight:600;
    cursor: pointer;
}

.formz {
    margin: 5em 0em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#act-inact {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat {
    width: 90%;
    height: 90%;
    /* padding: 12em; */
    background-color: white;
}

#inpBox {
    width:100%;
    height:60px;
    margin: 0 0 20px ;
    border: 3.5px solid #75428D;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.25rem;
}

#inpBoxfirstname {
    width:40%;
    height:60px;
    margin-bottom: 20px ;
    margin-top: 20px ;
    margin-left: 25px;
    border: 3.5px solid #75428D;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.25rem;
    float: left;
}

#inpBoxgender {
    width:18.55%;
    height:60px;
    margin-bottom: 20px ;
    margin-top: 20px ;
    margin-left: 25px;
    border: 3.5px solid #75428D;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.25rem;
    float: left;
}

/* #inpBoxlastname {
    width:40%;
    height:60px;
    margin-bottom: 20px ;
    margin-left: 25px;
    border: 3.5px solid #75428D;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.25rem;
    float: left;
} */

.formBut {
    background-color: #75428D;
    height: 50px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight:600;
    border-radius: 10px;
    cursor: pointer;
}

.signBut {
    background-color: #75428D;
    height: 50px;
    width: 15%;
    margin-left: 70%;
    margin-top: -12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight:600;
    border-radius: 10px;
    cursor: pointer;
}

.join a{
    font-size: 1.25rem;
    margin-top: 50px;
    color: red;
}

.mark{
    color:red;
    margin-top: 47%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.signHead{
    color:#75428D;
    margin-left: 2.6%;
    margin-top: 20px;
}