.appointmentCard{
    height: 180px;
    width: 150px;
    background-color: #553066;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 70% !important;
}



.button{
    color: white;
    background-color: #b583ce !important;
    padding: 0.5em 1.5em;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
    width:150px
}

.button:hover{
    background-color: #1e0a27 !important;
}