.appointmentCard-p{
    height: 200px;
    width: 150px;
    background-color: #553066;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 90% !important;
    font-weight: lighter !important;
    color: #FFF;
    text-align: center;
}

.aptid{
    margin-top:20%;
}


.button-p{
    color: white;
    background-color: #b583ce !important;
    /* margin-right: -100%; */
    padding: 1px;
    padding-top: 3.5px;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
    width:100px;
    margin-left: 16%;
    margin-top: 8%;
}

.button:hover{
    background-color: #1e0a27 !important;
}