.appt{
    height:14%;
    width:90%;
    background-color: #553066;
    border-radius: 7px;
    margin-top: 5%;
    margin-left: 15px;
    cursor: pointer;
    padding:20px;
    color:#D4B4E2
}

.appt:hover{
    background-color: #391E45;
}
